---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar.astro';
import Footer from '../components/layout/Footer.astro';
import { getTranslations, getLang } from '../i18n';

const lang = getLang(Astro.url);
const t = getTranslations(lang);
const p = t.pages.projects;
---

<Layout title={p.title}>
	<Navbar
		currentPath={Astro.url.pathname}
		brandName={t.nav.brandName}
		home={t.nav.home}
		projects={t.nav.projects}
		contact={t.nav.contact}
		menuToggle={t.nav.menuToggle}
		currentLang={lang}
	/>
	<div class="min-h-screen flex flex-col items-center justify-center bg-stone pt-24 pb-8 px-8">
		<div class="text-center flex flex-col gap-8">
			<h1 class="text-4xl font-bold text-gray-800">{p.heading}</h1>

		</div>
	</div>
	<Footer contactText={t.footer.contact} />
</Layout>
